---
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction: true
  BeforeElse: true
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
BinPackLongBracedList: false
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
